  <div class="jumbotron">
    <h1 class="title">梦想工作网</h1>
    <p class="slogan">梦想工作网是为有梦想的人提供理想机会的求职网站。
    <br>
    加入我们，踏上理想征途！
    <br>
     美好的工作正等你来
    </p>
    <p class="lead"><a class="btn btn-lg btn-success" href="/jobs">马上应征</a></p>
  </div>

  <section id="company">
    <div class = "container-fluid">
      <div class="row">
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="https://ooo.0o0.ooo/2017/01/22/588425d6db748.png" alt="search" class = "img-thhumbnail">
            <div class="caption">
              <h3>厦门轮渡中心</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="https://ooo.0o0.ooo/2017/01/22/5884261a74dea.png" alt="bid" class = "img-thhumbnail">
            <div class="caption">
              <h3>Myjob@dreams.com</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <img src="https://ooo.0o0.ooo/2017/01/22/58842673c7dc8.png" alt="heart" class = "img-thhumbnail">
            <div class="caption">
              <h3>0592-888888</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
